.toolbar-spacer
{
        flex:           1 1 auto;
}

.consent-content
{
	margin:		0;
	padding:	0;
}

.consent-text
{
	margin:		0em 0em 0em 0em;
	padding:	1em 6em 0em 6em;
	text-align:	center;
}

.consent-options
{
	padding:	2em 4em 1em 4em;
}


.consent-option
{
	padding:	3em 0em 1em 0em;
}

.consent-outcome
{
	padding:	1em 3em 1em 3em;
}

.consent-details
{
	padding:	1em 1em 1em 0em;
}

.consent-details-title
{
	padding:	1em 0em 1em 0em;
}

.consent-purposes
{
	padding:	1em 0em 1em 1em;
}

.consent-purposes-title
{
	padding:	1em 0em 1em 0em;
}

.consent-actions
{
	padding:	1em 2em 1em 2em;
}

.footer-elements
{
	margin:		0;
	padding:	0;
	text-align:	right;
}
