<md-toolbar color="primary">
    <span> SILVER Consent Portal </span>
    <span class="toolbar-spacer"></span>
    <button md-button (click)="openLoginDialog()">
        <md-icon>person</md-icon>
        <span>{{username}}</span>
    </button>
</md-toolbar>

<md-tab-group>
    <md-tab label="Style A">
        <silver-declaration> #stylea</silver-declaration>
    </md-tab>
    <md-tab label="Style B">
        <app-clause-lists #styleb></app-clause-lists>
    </md-tab>
    <md-tab label="Style C">
        <md-card>
            <md-card-title #stylec>Style C</md-card-title>
            <md-card-content>Will be based on 'Drag and Drop' of 'Data' items onto 'Purpose & Destination' areas.</md-card-content>
        </md-card>
    </md-tab>
<md-tab-group>

